{% load static %}
<!-- <footer class="footer text-center me-auto bg-success">
    <div class=" ">
        <h2 >This is the footer</h2>
    </div>
</footer> -->

<footer class="footer text-center bg-success" style=" position: relative; bottom: 0;">
    <br>
  
    <p>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-whatsapp"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-twitter"></a>
    </p>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div style="color: white;" class="wow fadeInUp footer-copyright">
            <p>Blog Site in Python using Django Framework<br>
              &copy; 2022 Developed By Capital Capis </p>
          </div>
        </div>
      </div>
    </div>
  </footer>