{% extends 'partials/base.html' %}
{% block title %} About Us{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

{% load static %}
{% if messages %}
    <div class="alert-container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }} text-center {% if message.tags == 'success' %} alert-success text-success {% elif message.tags == 'error' %} alert.error text-danger {% endif %}" 
            style="font-size: larger; font-weight: bold; font-style: italic; line-height: 3px;">{{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
{% endif %}
<div class="container mb-lg-5" style="border: 1px solid green;">
    <div class="ms-3">
       <h1 class="mt-2 text-success ms-5" style="text-decoration: underline;">About Us</h1><br>
       
       
       <h4>Welcome, {% if request.user.is_authenticated %} {{ request.user.first_name }} {{ request.user.last_name }} {% endif %} </h4>
       
        <p class="fs-3">Information About Us Coming Soon......</p><hr><br>
        <img class="about-image" src="{% static 'images/website-blog.jpg' %}" alt="image">

    </div>
</div>
{% include 'partials/footer.html' %} 
{% endblock %}