{% extends 'partials/base.html' %}
{% block title %} Feedbacks {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

{% load static %}
{% if messages %}
    <div class="alert-container">
        {% for message in messages %}
            <div class="alert alert-success text-center" style="font-size: larger; font-weight: bold; font-style: italic;">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}

<div class="container">
    <div class="row justify-content-center">
        <div class="card col-md-7 mt-1">
        <div class="card-body ">
            <h2 class="text-primary">User Feedbacks:</h2>
            {% for feedback in feedbacks %}
            {% if request.user.is_staff or feedback.approved %}
            <p>
                <h4 style="display: inline;">{{feedback.your_name}} said: </h4> <p style="font-style: italic;">{{feedback.message}}</p>
                <small>On {{feedback.date}}</small> 
                {% if request.user.is_authenticated and request.user.is_staff %}
                <div class=" feedback-action">
                    <form method="POST" class="d-flex justify-content-around" action="" id="feedback-delete-form-{{ feedback.id }}">
                        {% csrf_token %}

                        {% if not feedback.approved %}
                        <a href="{% url 'feedback-approve' feedback_id=feedback.id %}" class="text-info">Approve Feedback</a>
                        {% else %}
                        <a href="#" class="text-success" style="opacity: 1;">Feedback Approved</a>
                        {% endif %}
                        <a href="{% url 'feedback-delete' feedback_id=feedback.id %}" id="feedback-delete-link" class="text-danger" onclick = "return confirm ( 'Do you want to delete this feedback?')">Delete Feedback</a>
                    </form>
                    <hr>
                  </div>
                {% endif %}
            </p>
            {% endif %} 
            {% endfor %} 
        </div>
        </div>
    </div>
</div>
{% include 'partials/footer.html' %}
{% endblock %}