{% extends 'partials/base.html' %}
{% block title %} About Us{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

{% load static %}
{% if messages %}
    <div class="alert-container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }} text-center {% if message.tags == 'success' %} alert-success text-success {% elif message.tags == 'error' %} alert.error text-danger {% endif %}" 
            style="font-size: larger; font-weight: bold; font-style: italic; line-height: 3px;">{{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
{% endif %}

<style>
    .admin div div{
        display: flex;
        height: 100px;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: bold;
        margin: 10px;
        font-size: larger;

    }

    .admin div div:hover{
        cursor: pointer;
        opacity: 0.7;

    }
    .feedbacks p a:hover{
        color: blueviolet;
        border-bottom: 1px solid blueviolet;
        transition: 0.5s ease;
    }
</style>

<div class="container admin" style="padding: 30px;">
    <h2 class="d-flex justify-content-center fw-bold">Page Summary</h2>
    <div>
        <div class="bg-success text-white rounded">
            TOTAL USERS: {figure}
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-4 bg-secondary rounded">
            TOTAL POSTS TODAY: {figure}
        </div>
        <div class="col-md-4 bg-primary rounded">
            USER WITH MOST POSTS: {username}
        </div>
        <div class="col-md-3 bg-info rounded">
            TOTAL POSTS: {figure}
        </div>
    </div>
    <div class="feedbacks">
        <p class="fs-3 text-primary m-3"><a style="text-decoration: none;" href="{% url 'blog-feedbacks' %}">Feedbacks</a></p>
    </div>
</div>
<div class="mt-5">
{% include 'partials/footer.html' %}
</div>
{% endblock %}