{% extends 'partials/base.html' %}
{% block title %}Author Info{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<div class="bg-dark">
<div class="container my-1 bg-success"> 
    <div class="row mt-1 pt-1">
        <div class="col-md-8 offset-md-2 mt-1 pt-1">
            <div class="card shadow my-3">
                <div class="card-body">
                    <h2 style="display: inline;">You are viewing <span style="text-transform: capitalize;">{{ user.username }}</span>'s Profile</h2><br>
                    {% if profile.profile_picture %}
                    <img src="{{profile.profile_picture.url}}" alt="" style="width: 150px; height: 150px; object-fit: cover;"><hr>
                    {% endif %}
                    <div class="alert bg-dark text-white">
                        {% if profile.brief_description %}
                        <p class="fs-4">{{ profile.brief_description }}.</p>
                        {% endif %}
                        <p class="fs-5"> {% if profile.user.email %} Feel free to contact <span style="text-transform: capitalize;">{{user.username}}</span> by: <br>
                            Emailing - <span class="text-primary" style="font-style: italic;">{{profile.user.email}} </span> <br>
                                {% endif %}
                            {% if request.user.author.phone_number %} 
                            Sending a Whatsapp message to the Number - <span style="font-style: italic; font-weight: bold;">{{profile.phone_number}}</span> 
                            {% endif %}
                        </p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% include 'partials/footer.html' %} 
{% endblock %}