{% extends 'partials/base.html' %}
{% block title %} Admin Dashboard {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

{% load static %}
{% if messages %}
    <div class="alert-container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }} text-center {% if message.tags == 'success' %} alert-success text-success {% elif message.tags == 'error' %} alert.error text-danger {% endif %}" 
            style="font-size: larger; font-weight: bold; font-style: italic; line-height: 3px;">{{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
{% endif %}

<h2>Password reset complete</h2>
<p>Your password has been successfully reset. You can now <a href="{% url 'login' %}">log in</a>.</p>

{% include 'partials/footer.html' %}
{% endblock %}