{% extends 'partials/base.html' %}
{% block title %} Admin Dashboard {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

{% load static %}
{% if messages %}
    <div class="alert-container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }} text-center {% if message.tags == 'success' %} alert-success text-success {% elif message.tags == 'error' %} alert.error text-danger {% endif %}" 
            style="font-size: larger; font-weight: bold; font-style: italic; line-height: 3px;">{{ message }}
        </div>
        {% endfor %}
        {% endif %}
    </div>
{% endif %}

<h2>Reset your password</h2>
<p>Enter your email address to receive a link to reset your password.</p>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Send reset link</button>
</form>

<h2>Reset your password</h2>
<p>Enter your email address to receive a link to reset your password.</p>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Send reset link</button>
</form>

{% include 'partials/footer.html' %}
{% endblock %}