{% extends 'partials/base.html' %}
{% block title %} Comments {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

{% load static %}
{% if messages %}
    <div class="alert-container">
        {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}

{% for comment in comments %}
<p>
    <strong>{{ comment.your_name }}:</strong> {{ comment.comment_on_the_post }} <br>
    <small>{{ comment.date }} </small><br><hr>
</p>
{% empty %}
<p>No comments yet. Be the first to comment!</p>
{% endfor %}